{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boosts</title>
    <link rel="stylesheet" href="{% static "boosts/style.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
</head>
<body>
    {% include "includes/nav_bar.html" %}
    {% include "includes/notifications.html" %}
    <div class="boosts-container">

        <form action="{% url "boosts:buy_ability" %}" method="POST">
            {% csrf_token %}
            <div class="boost">
                <h3>Multitap</h3>
                <img src="{% static "boosts/images/hand_point.png" %}" width="64" height="64">
                <p>{{ user.tap_ability }} lvl</p>
                <input type="hidden" name="booster" value="tap_ability">

                {% if user.tap_ability == 1 %}
                <p>Price: <b>1 000</b></p>
                <input type="hidden" name="price" value="1000">
                <button type="submit">Buy</button>

                {% elif user.tap_ability == 2 %}
                <p>Price: <b>5 000</b></p>
                <input type="hidden" name="price" value="5000">
                <button type="submit">Buy</button>

                {% else %}
                <p>Selled</p>
                {% endif %}  
            </div>
        </form>
        
        <form action="{% url "boosts:buy_ability" %}" method="POST">
        {% csrf_token %}
        <div class="boost">
            <h3>Auto Tap bot</h3>
            <img src="{% static "boosts/images/robot.png" %}" width="64" height="64">
            {% if user.auto_click == 0 %}
                <p>{{ user.auto_click }} lvl</p>
                <input type="hidden" name="booster" value="auto_click">
                <p>Price: <b>20 000</b></p>
                <input type="hidden" name="price" value="20000">
            <button type="submit">Buy</button>
            {% else %}
                <p>Selled</p>
            {% endif %}
            
        </div>
        </form>
        
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="boost">
                <h3>Miner</h3>

                <img src="{% static "boosts/images/miner.png" %}" width="64" height="64">
                <p>0 lvl</p>
                <input type="hidden" name="booster" value="auto_click">
                <p>Price: <b>100 000</b></p>
                <button type="submit" disabled>Buy</button>

                
            </div>
            </form>

        <form action="{% url "boosts:buy_ability" %}" method="POST">
            {% csrf_token %}
            <div class="boost">
                <h3>What is it???</h3>

                <img src="{% static "boosts/images/alien.png" %}" width="64" height="64">
                <p>0 lvl</p>
                <input type="hidden" name="booster" value="auto_click">
                <p>Price: <b>1 000 000</b></p>
                <button type="submit" disabled>Buy</button>
                
            </div>
            </form>
        <!-- Add more boost items as needed -->
    </div>
    <script src="{% static "boosts/script.js" %}"></script>
    <script src="{% static "bootstrap.bundle.min.js" %}"></script>
</body>
</html>