/* Стили для навигационной панели */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для области игры */
.game-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Стили для левой половины экрана (игровой области) */
.game-area {
    width: 40%;
    background-color: #ffffff;
    padding: 20px;
}

#clicker_button {
    margin-left: 15%;
}

#clicker_button:hover {
    cursor: pointer;
}

#score {
    margin-left: 47%;
}

/* Стили для правой половины экрана (магазина) */
