/* Стили для навигационной панели */
/* .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
} */


.game-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}


.game-area {

    background-color: #ffffff;
    padding: 20px;
}

#clicker_button {
    background-color: #fff;

    text-align: center;
    /* transition: transform 0.1s ease; */
    transition: 0.2s all;
}

#clicker_button:hover {
    cursor: pointer;
}

#clicker_button.enlarged{
    transform: scale(1.01);
}

#clicker_button:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
}

/* .save-score-Button{
    margin-left: 165px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} */