<style>
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
</style>

<nav class="navbar">
    <ul>
        <li><a href="{% url "main:index" %}">Main</a></li>
        {% if not request.user.is_authenticated %}
            <li><a href="{% url "user:login" %}">Log in</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
            <li><a href="{% url "user:logout" %}">Logout</a></li>
            <li><a href="{% url "boosts:index" %}">Boosts</a></li>
        {% endif %}
            <li><a href="{% url "main:leaderboard" %}">Leaderboard</a></li>
        {% if user.end_game %}
            <li><a href="{% url "main:trade_score" %}">Trade score</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
            {% if user.balance != 0 %}
                <li id="balance">Your balance: <strong>{{ user.balance }}</strong>$</li>
            {% endif %}
        {% endif %}
    </ul>
</nav>