{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Игра</title>
    <link rel="stylesheet" href="{% static "main/style.css" %}">
    <script src="{% static "jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "main/script.js" %}"></script>
</head>
<body>
    <!-- Навигационная панель -->
    <nav class="navbar">
        <ul>
            {% if not request.user.is_authenticated %}
                <li><a href="{% url "user:login" %}">Log in</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li><a href="{% url "user:logout" %}">Logout</a></li>
                <li><a href="#">Boosts</a></li>
            {% endif %}
            <li><a href="#" style="margin-left:90%;">Leaderboard</a></li>
        </ul>
    </nav>

    <!-- Область игры -->
    <div class="game-container">
        <!-- Левая половина экрана для игры -->
        <div class="game-area">
            {% if request.user.is_authenticated %}
            <button id="clicker_button" style="display:flex; border:none; outline: none;">
                <img src="{% static "main/images/button_for_click.png" %}" alt="button" width="512" height="512" style="pointer-events: none;">
            </button>
            {% csrf_token %}
            <h1 id="score">{{ user.score }}</h1>
            {% else %}
                <h1>To start playing, you need to log in :)</h1>
            {% endif %}

        </div>

    </div>
</body>
</html>