{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Clicoin</title>
    <link rel="stylesheet" href="{% static "main/style.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
</head>
<body style="margin:0;">
    <!-- Навигационная панель -->
    {% include "includes\nav_bar.html" %}
    {% if request.user.is_authenticated %}
    <input type="hidden" name="hiddenTap" id="hiddenTap" value="{{ user.tap_ability }}">
    <input type="hidden" name="hiddenAutoClick" id="hiddenAutoClick" value="{{ user.auto_click }}">
    {% endif %}
    <!-- Область игры -->
    <div class="game-container">
        <!-- Левая половина экрана для игры -->
        <div class="game-area">
            {% if request.user.is_authenticated %}
            <button id="clicker_button" style="display:flex; border:none; outline: none;">
                <img src="{% static "main/images/bitcoin_button.png" %}" alt="button" width="512" height="512" style="pointer-events: none;">
            </button>
            {% csrf_token %}
            <h1 id="score" style="text-align: center;
            font-size: 70px;
            font-weight: 600;
            color: #000;
            text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3,
            0px 0px 20px #b393d3;">{{ user.score }}</h1>
            {% else %}
                <h1>To start playing, you need to log in :)</h1>
            {% endif %}

        </div>

    </div>
    <script src="{% static "jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "main/script.js" %}"></script>
</body>
</html>