{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Converter</title>
    <link rel="stylesheet" href="{% static "main/trade_score/style.css" %}">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Score to Dollars Converter</h1>
        <input type="number" id="score" placeholder="Enter your game score">
        <button onclick="convertScore()">Convert</button>
        <p id="result"></p>
    </div>

    <script src="{% static "main/trade_score/script.js" %}"></script>
</body>
</html>