body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.boosts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-direction: row;
}

.boost {
    /* margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; */
    width: 200px; /* Ширина каждого boost элемента */
    margin: 10px; /* Отступ между элементами */
    padding: 10px;
    text-align: center;
}

img {
    display: block; /* Делаем изображение блочным элементом */
    margin: 0 auto 10px; /* Автоматический отступ сверху и снизу, и выравнивание по центру по горизонтали */
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 0;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}